@use "variables" as v;
@use "mixins" as m;

*,
*:before,
*:after {
    box-sizing: inherit;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.3s ease-in-out;
}

html {
    font-size: 62.5%; // 1rem = 10px for easier calculations
    box-sizing: border-box;
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: v.$primary-font;
    // font-size: 1.6rem; // Base font size
    margin: 0; // Remove default margin
}

.container {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: v.$black; // Optional: Add a default link color
    transition: color 0.3s; // Smooth transition for link color

    &:hover {
        color: v.$blue; // Optional: Change color on hover
    }
}

img {
    max-width: 100%;
    height: auto; // Maintain aspect ratio
}
