@use "variables" as v;

.seccion {
  margin-top: calc(v.$separacion / 2);
  margin-bottom: calc(v.$separacion / 2);
}
.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 1.6rem;
  cursor: pointer;
}

// Fondos y textos

.txt-azul {
  color: #2965f1;
}
.txt-amarillo {
  color: v.$amarillo;
}
.txt-anaranjado {
  color: v.$anaranjado;
}

.titulo {
  padding: 2rem;
  text-align: center;
}
