.container {
	max-width: 900px;
	margin: 0 auto;
}

.bg-green {
	background-color: #00bc8c !important;
	// color: #000 !important;
}
.bg-yellow {
	background-color: #f39c12 !important;
	// color: #000 !important;
}
.bg-red {
	background-color: #f35742 !important;
	// color: #000 !important;
}
.bg-sky-blue {
	background-color: #348cc7 !important;
	// color: #000 !important;
}
