@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;600;700&display=swap");

// Fuentes
$principal_font: "Source Code Pro", monospace;

// Tamaño de Media Queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$black: #000000;
$yellow: #e08709;
$green: #71b100;
$white: #ffffff;
$gray: #e1e1e1;
$darkGray: #333333;
$danger: #eb3434;
$success: #38e238;
$primary: #103d79;
$secondary: #275189;

$separation: 5rem;

// Fuentes

$thin: 300;
$regular: 400;
$bold: 700;
$black: 900;
