@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:color"; // Importar el módulo de color

#files-container {
    display: grid;
    grid-template-columns: 1fr;
    @include m.phone {
        grid-template-columns: 1fr 3fr;
        
    }
}
.folder-tree {
    font-family: Arial, sans-serif;
    padding: 10px;
    border: 1px solid v.$gray;
    border-radius: 10px 0 0 10px;
    max-height: 100vh;
    overflow: auto;
    @include m.custom-scrollbar(v.$danger, v.$gray);

    .folder {
        display: block;
        cursor: pointer;
        padding: 5px 10px;
        margin-left: 20px; // Indentación para las subcarpetas
        position: relative;
        border: 1px solid transparent;

        // Efecto al pasar el ratón
        &:hover {
            color: v.$primary;
            background-color: color.adjust(v.$primary, $lightness: 70%);
        }

        // Estilo cuando la carpeta está activa
        &[data-as-active="true"] {
            color: v.$primary;
            background-color: color.adjust(v.$primary, $lightness: 60%);
        }

        // Estilo para carpetas
        &.folder--directory {
            font-weight: bold; // Hacer las carpetas más prominentes

            // Estilo específico para el ícono de carpeta
            &::before {
                content: "📁"; // Icono de carpeta
                margin-right: 5px;
            }

            .folder--file {
                &:hover {
                    color: v.$primary;
                    background-color: color.adjust(v.$primary, $lightness: 55%);
                }
            }
        }

        // Estilo para archivos
        &.folder--file {
            font-style: italic; // Archivos en cursiva

            // Estilo específico para el ícono de archivo
            &::before {
                content: "📄"; // Icono de archivo
                margin-right: 5px;
            }
        }
    }
}

.folder-preview {
    padding: 20px;
    border: 1px solid v.$gray;
    border-radius: 0 10px 10px 0;
    max-height: 100vh;
    overflow: auto;

    @include m.custom-scrollbar(v.$primary, v.$gray);
}
