@use "base/variables" as v;
@use "base/mixins" as m;
.footer {
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: v.$fondoOscuro;
  p {
    margin: 2rem 0 0 0;
  }
  span {
    font-weight: 400;
  }
}
