@use "base/variables" as v;
@use "base/mixins" as m;

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: v.$fondoClaro;
  @include m.telefono {
    flex-direction: row;
  }
  .logo {
    width: 30%;
    picture {
      @include m.telefono {
        max-width: 20%;
      }
    }
  }

  .aparecer {
    display: block !important;
  }
  .menu {
    display: none;
    @include m.telefono {
      display: block;
    }
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      @include m.telefono {
        flex-direction: row;
      }

      .item {
        text-decoration: none;
        color: v.$gris;
        font-weight: 700;
        font-size: 18px;
        padding: 1rem 2rem;
        border-bottom: 1px solid transparent;
        &:hover {
          color: v.$primario;
          border-bottom: 1px solid v.$primario;
        }
      }
    }
  }

  .menuMovil {
    @include m.telefono {
      display: none;
    }
  }
}
