@use "base/variables" as v;
@use "base/mixins" as m;

.hero {
  height: 80vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("../img/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .titulo {
    font-family: v.$fuente_secundaria;
    font-weight: bolder;
    font-size: 2rem;
    color: v.$primario;
    h1 {
      padding: 0;
      margin: 0;
    }
    @include m.telefono {
      font-size: 4rem;
    }
  }
  .name {
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
  }
  .bajar {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: #fff;
    top: 30%;
    font-size: 3rem;
    animation: btnBajar infinite 2s;
    @include m.telefono {
      top: auto;
      bottom: 6rem;
    }
  }
}

// ANIMACION
@keyframes btnBajar {
  0% {
    opacity: 1;
  }
  25% {
    transform: translateY(1rem);
  }
  50% {
    opacity: 0.2;
    scale: 0.6;
    transform: translateY(2rem);
  }
  75% {
    transform: translateY(-1.5rem);
  }
  100% {
    opacity: 1;
    scale: 1;
    transform: translateY(-2rem);
  }
}
