@use "base/variables" as v;
@use "base/mixins" as m;

.portafolio {
  background: v.$fondoOscuro;
  padding: 5rem 0;
  .informacion {
    padding: 3rem 0;
    .titulo {
      h2 {
        color: #fff;
        text-transform: uppercase;

        font-size: 2em;
      }
      hr {
        height: 0.2rem;
        width: 20%;
        border: none;
        background-color: v.$primario;
        @include m.telefono {
          width: 5%;
        }
      }
    }
    .subtitulo {
      padding: 0 1rem;
      color: v.$gris;
      text-align: center;
    }
  }
  .trabajos {
    width: 90%;
    margin: 0 auto;
    @include m.telefono {
      width: 80%;
      @include m.grid(3, 2rem);
    }
  }

  .trabajo {
    position: relative;
    margin: 2rem 0;
    height: 30rem;
    overflow: hidden;
    @include m.telefono {
      margin: 0;
    }

    .overlayTrabajo {
      position: absolute;
      bottom: 0;
      height: 100%;
      width: 100%;
      padding: 2rem;
      background-color: v.$fondoOscuro;
      a {
        text-decoration: none;
        color: #fff;
      }
      opacity: 0;
      transform: scale(0);
      transition: all 0.5s ease-in-out;
    }
    &:hover {
      cursor: pointer;
    }
    &:hover .overlayTrabajo {
      top: 0;
      left: 0;
      opacity: 1;
      transform: scale(1);
    }

    .tecnologias {
      @include m.grid(4, 1rem);
      text-align: center;
      .icono {
        i {
          font-size: 6rem;
        }
      }
    }
    .titulo {
      padding: 0;

      h3 {
        text-align: left;
        font-size: 2.4rem;
        font-weight: 400;
      }
    }
    .descripcion {
      p {
        font-size: 1.7rem;
      }
    }
  }
}
